extends layout

block content
  main.posts
    each post in posts
      article
        h3 
          a(href='/post/' + post.slug) #{post.title}
        .meta
          .date=post.createdStr
          .tags Tagged with: 
            - var i = 0
            each tag in post.tags
              - var str = ', '
              if (i == post.tags.length - 1)
                - str = ''
              a(href='/tag/' + tag) #{tag}
              =str
              - i++
        div desc: #{post.desc}
  if pages > 1
    include partials/pagination.pug
