extends layout

block content
  
  main.newVfBrew
    form
      div
        label Month: 
        input(type='text', name='month', id='month')
      div
        label Name: 
        input(type='text', name='name', id='name')
      div
        label Desc: 
        textarea(name='desc', id='desc')
      div
        label Brew Date: 
        input(data-toggle="datepicker", name='brewDate', id='brewDate')
      div
        label Rack Date: 
        input(data-toggle='datepicker', name='rackDate', id='rackDate')
      div
        label Bottle Date: 
        input(data-toggle='datepicker', name='bottleDate', id='bottleDate')
      div
        label Fridge Date: 
        input(data-toggle='datepicker', name='fridgeDate', id='fridgeDate')
      div
        label Release Date: 
        input(data-toggle='datepicker', name='releaseDate', id='releaseDate')
      div
        label Grains: 
        input(type='text', name='grains', id='grains')
      div
        label Malts: 
        input(type='text', name='malts', id='malts')
      div
        label Hops: 
        input(type='text', name='hops', id='hops')
      div
        label isVF: 
        input(type='checkbox', name='isVF', id='isVF', checked)
      div
        br
        br
        input(type='submit', value='Submit')
  if(bodyClass === 'editBrew')
    script.
      var brewToEdit = !{JSON.stringify(brewToEdit).replace(/<\//g, "<\\/")}
    script(src='/javascripts/editBrew.js')
