@import url('https://fonts.googleapis.com/css?family=Merriweather:300|Open+Sans:400,700')
@import "./libs/reset.scss"
@import "./libs/github.css"

$black: #333
$white: #FcFcFc
$silver: #f9f9f9
$blue: #00A8E8
$darkblue: #003459

$space: 1rem
$space-xs: .75rem
$space-sm: .88rem
$space-lg: 1.25rem

$sans: 'Open Sans', sans-serif
$serif: 'Merriweather', serif

html
  color: $black
  background-color: $white
  font-family: $serif
  font-size: 16px
  @media screen and (min-width: 800px)
    font-size: 18px

h1,h2,h3,h4,h5,h6
  font-family: $sans
  font-weight: 700
  margin-bottom: $space-lg
  line-height: 1

h1
  font-size: 1.75rem
h2
  font-size: 1.5rem
h3
  font-size: 1.25rem
h4
  font-size: 1.1rem

a
  color: $darkblue
  // &:visited
  //   color: $darkblue

p
  margin-bottom: $space-sm
  line-height: 1.25

nav
  position: fixed
  width: 100%
  background: $white
  border-bottom: 1px solid $black
  z-index: 100
  font-family: $sans
  font-weight: 400
  .navWrap
    max-width: 800px
    padding: 8px 8px
    margin: 0 auto
    display: flex
    justify-content: flex-end
    .left
      margin-right: auto

pre, code
  font-family: monospace
pre
  padding: $space-sm
  background: $silver
  border: 1px dashed $black
  font-size: $space-sm
  line-height: 1.25
  margin-bottom: $space-lg

.intro
  .title
    margin-bottom: 3px
  .desc
    font-style: italic
    padding: 4px 0

.meta
  font-size: $space-xs
  //font-style: italic
  margin-bottom: $space-lg

.content
  max-width: 800px
  padding: 48px 8px
  margin: 0 auto
  figure
    max-width: 100%
    height: auto
    padding: 16px
    border: 1px dashed $black
    background: $silver
    text-align: center
    figcaption
      font-family: $sans
      font-weight: 400
      font-size: $space-sm
      font-style: italic
  img
    max-width: 100%
    height: auto

blockquote
  background: #f9f9f9
  border-left: 10px solid #ccc
  margin: 1.5em 10px
  padding: 0.5em 10px
  quotes: "\201C""\201D""\2018""\2019"

  &:before
    color: #ccc
    content: open-quote
    font-size: 4em
    line-height: 0.1em
    margin-right: 0.25em
    vertical-align: -0.4em

  p
    display: inline

.pagination
  text-align: center
  margin: 1em 0 0
  a, span
    margin: 0 5px


//@import "./partials/_index.sass"
//@import "./partials/_post.sass"
